body {
    font-family: Arial;
    font-size: 18px;
}

form {
    text-align:left;
    font-size: 24px;
    margin:20px;
}

    form input {
        width: 80%;
        margin: 20px;
    }


nav {
    text-align: center;
    font-size: 25px;
}

    nav a {
        color: deepskyblue;
    }

hr {
    width: 90%;
}

.table_frame {
    display: table;
    border: 2px solid black;
    padding: 8px;
}

.table {
    display: table;
    margin: 0;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

.th {
    display: table-cell;
    font-weight: bold;
}
